*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-color: #24272E;
    color:white;
}
header {
    width:100%;
    background-color: white;
    padding:20px;
    color:#24272E;

}
h1{
    text-align: center;

}


.game-buttons-container{
    padding-bottom: 25px;
    width:100%;

}
.user-game-button-container{
    padding-top:30px;
}
.individual-buttons-game{
    background-color: white;
    margin-top: 50px;
    padding:15px;

}
.score-container{
   border: 3px solid white;
    width:300px;
    margin:20px auto;
    font-size:46px;
    position:relative;
    padding: 15px 20px;
}
.score-board {
    font-size:17px;
    text-align: center;
    background: red;

}
#user-points{
    position: absolute;
    top:30px;
    left: -25px;

}
#computer-points{
    position: absolute;
    top:30px;
    right: -35px;

}